<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>404</title>{% endblock %}
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wm.ico' %}" >
  </head>


  <body class='d-flex justify-content-center align-items-center flex-column mb-1'>
      <h1>404</h1>
      <h2>Page not found</h2>
      <h5>We’re sorry, but the requested page could not be found.</h5>
      <a class='text-muted' href="/">Go to main page?</a>
  </body>
</html>
