<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>500</title>{% endblock %}
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wm.ico' %}" >
  </head>


  <body class='d-flex justify-content-center align-items-center flex-column mb-1'>
      <h1>500</h1>
      <h2>Server error</h2>
      <p>There’s been an error. It’s been reported to the site administrators via email and should be fixed shortly. Thanks for your patience.</p>
      <a class='text-muted' href="/">Go to main page?</a>
  </body>
</html>
