[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
python-decouple = "*"
pillow = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-bootstrap-v5 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
django-cors-headers = "*"
daphne = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]
aiosmtpd = "*"

[requires]
python_version = "3.11"
