<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title></title>{% endblock %}
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    {% if form.errors %}
      <p>Your email and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <main class="form-signin w-100 m-auto">
      <form method="post" action="{% url 'login' %}">
          {{ form.as_table }}
          {% csrf_token %}
          <input type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </main>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </body>
</main>