{% extends "web_msg/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block base_main %}
<div class='row align-content-center' style='width: 100%; height: 100%'>
        <form class='col-7 p-4 border bg-body-tertiary mx-auto' 
              style='background-color: #f9f9f9; border-radius: 1rem' 
              method="get" 
              action=""
              onsubmit="return false"
              id="profileUpdate">
          <h1 class="py-4">Profile</h1>
          <div class='container'>
            <div class='row'>
              <div class='col-9' style=''>
                <div class='p-1'>
                <input type="text" 
                      class="form-control form-control-lg"
                      style='width: 80%' 
                      id="user_name" 
                      name='user_name'
                      placeholder="username"
                      autocomplete='off'
                      value="{{user.user_name}}">
                </div>
                <div class='p-1'>
                <textarea type="text" 
                      class="form-control form-control-lg"
                      style='width: 80%' 
                      id="description" 
                      name='description'
                      placeholder="description"
                      autocomplete='off'
                      rows="6"
                      value="{{user.description}}">
                </textarea>
                </div>
              </div>
              
              <div class='col-3'>
                <div class='overflow-hidden' style="box-sizing: border-box; width: 100%; height: auto; background-color: black;">
                  <img class='' 
                      id="avatarLoadPreview" 
                      src='{{ user.avatar.url }}'
                      style=' object-fit: cover; object-position: center; height: 100%; width: 100%;  box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
                                                            3px 3px 7px rgba(94, 104, 121, 0.377);'>
                </div>
                <div>
                  <label for='avatar' class='mx-auto btn btn-primary' style='width: 90%;'>Upload image</label>
                  <input class=''
                        style='display: none;'
                        type="file" 
                        id="avatar"
                        name='avatar' 
                        accept=".png, .jpg, .jpeg" 
                        onchange="showPreview(event);"
                        value="{{user.avatar}}">
                </div>
              </div>
            </div>

            </div>
            <div class='p-4'>
              <button type="submit" class="btn btn-primary float-end" style=''>Update profile</button>
            </div>
          </div>
        </form>
</div>


<script>
  function showPreview(event){
    if(event.target.files.length > 0){
      const src = URL.createObjectURL(event.target.files[0]);
      const preview = document.getElementById("avatarLoadPreview");
      preview.src = src;
  }
}
  
  const addForm = document.getElementById("profileUpdate");

  addForm.addEventListener('submit', async event => {
      event.preventDefault();

      const formData = new FormData(addForm);
      
      const plainFormData = Object.fromEntries(formData.entries());

      postData('/api/users/', plainFormData, "PATCH");
  });
</script>

{% endblock %}