{% extends "web_msg/base_extend.html" %}
{% load static %}

{% block title %}<title>{{server.title}}</title>{% endblock %}

{% block content %}
    <div class='row flex-fill d-flex flex-column text-white'>
      <div class='p-0 flex-fill d-flex' 
          style='flex-direction: row; 
                max-height: 40px;'>
        <div class='p-1'
            style='width: 14%;
                  background-color: #414141;
                  border-top-left-radius: 8px;'>
                  <h4 class='px-2'>{{server.title}}</h4>
        </div>

        <div class='p-1'
            style='width: 72%;
                  background-color: #5c5c5c;'>
                  <h5 class='px-2 py-1'>{{channeltext.title}}</h5>
        </div>

        <div class='p-1'
            style='width: 14%;
                  background-color: #5c5c5c;'>
                  <div style='margin-top: 0.2rem;
                              margin-left: 0.2rem'>
                  Members: {{ server.serveruser_set.count }}
                  </div>
        </div>
      </div>


      <div class="p-0 flex-fill d-flex" style='flex-direction: row;'>
          {% block channels %}
          <div class='d-flex flex-column flex-fill justify-content-between' style='background-color: #414141;'>
            <div class='overflow-auto scrbar d-flex flex-fill flex-column text-white p-2'
              style='border-bottom-left-radius: 8px;
                    max-height: 82vh;
                    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.5) inset;'>
                  {% for channel in server.channel_set.all %}
                      <a href="{% url "channel-detail" server.id channel.id %}" 
                        class='btn btn-secondary w-100 text-white text-start'
                        style='margin-bottom: 0.2rem;
                              line-height: 1rem;
                              {% if channel.id != channeltext.id %}
                              --bs-btn-bg: #414141;
                              --bs-btn-border-color: #414141;
                              --bs-btn-hover-bg: #6A6A6A;
                              --bs-btn-hover-border-color: #6A6A6A;
                              {% else %}
                              --bs-btn-bg: #6A6A6A;
                              --bs-btn-border-color: #6A6A6A;
                              --bs-btn-hover-bg: #6A6A6A;
                              --bs-btn-hover-border-color: #6A6A6A;
                              {% endif %}'>
                              {{channel.title}}
                      </a>
                  {% endfor %}
            </div>
            {% if server.owner.id == user.id %}
            <div class='d-flex justify-content-center my-2 px-4' style=''>
              <button type='button'
                    class='btn btn-secondary flex-fill' 
                    style='line-height: 0.7; font-size: 26px; margin: 0;'
                    data-bs-toggle="modal" 
                    data-bs-target="#addChannel">
              
              <h6 style='line-height: 0.2;
                        margin: 3px'>
                add channel
              </h6></button>
            </div>
            {% endif %}
          </div>
          {% endblock %}
      
          <div class='d-flex text-white' 
              style='background-color: #5c5c5c; 
                    width: 72%;
                    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.5) inset;'>
              <div class='flex-fill h-100'>
                {% block message_pblock %}
                  <div class='d-flex justify-content-center align-items-center h-100'>
                    <h3 style='color: #464545;
                              margin-bottom: 3rem'>Channel not selected</h3>
                  </div>
                {% endblock %} </div>
          </div>
          
          <div class='text-white p-2' 
              style='width: 14%; 
                    background-color: #414141;
                    box-shadow: 0px 2px 2px 0px rgba(30, 30, 30, 0.5) inset;'>
              <div class='overflow-auto scrbar' style='max-height: 82vh;'>
                {% for user_in_server in server.serveruser_set.all %}
                  <button type='button' href="#" 
                    class='btn btn-secondary w-100 text-white text-start'
                    style='margin-bottom: 0.2rem;
                          line-height: 1rem;
                          --bs-btn-bg: #414141;
                          --bs-btn-border-color: #414141;
                          --bs-btn-hover-bg: #6A6A6A;
                          --bs-btn-hover-border-color: #6A6A6A;'>
                    <img src="{{ user_in_server.user.avatar.url }}" alt="" width="32" height="32" class="rounded-circle ms-2">
                    {{ user_in_server.username_local }}
                  </button>
                {% endfor %}
              </div>
          </div>
      </div>
    </div>


<div class="modal fade" id="addChannel" tabindex="-1" aria-labelledby="addChannelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-white" style='background-color: #00036c;'>
        <h1 class="modal-title fs-5" id="addChannelLabel">New channel</h1>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style=''>
        <div class='container-fluid d-flex'>
          <div class='mx-2 row w-100'>
            <form class="form-example p-0" id="addChannelForm">
              <div class="mb-3">
                <input type="text" 
                      class="form-control form-control-lg w-100" 
                      name='title' 
                      id="title" 
                      placeholder="channel title"
                      autocomplete='off'>
              </div>

                  <button type="submit" class="btn btn-primary my-1 w-100">Create</button>
            </form>

            <script>
              const addForm = document.getElementById("addChannelForm");

              addForm.addEventListener('submit', async event => {
                  event.preventDefault();

                  var formData = new FormData(addForm);
                  formData.append("server", "{{ server.id}}")

                  const plainFormData = Object.fromEntries(formData.entries());

                  postData('/api/text-channels/', plainFormData);
                  window.location.reload()
              });
                      </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}