body, main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.btn-circle {
    width: 45px;
    height: 45px;
    border-radius: 24px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}

.container-fluid {
    flex: 1;
}

.scrbar::-webkit-scrollbar {
    display: none;
}

.scrbar {
    -ms-overflow-style: none;
    scrollbar-width: 0;
}