.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin {
    z-index: 2;
}

body, main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container-fluid {
    flex: 1;
}