{% extends "web_msg/server/server_base.html"%}
{% load bootstrap5 %}
{% load static %}

{% block title %}<title>{{server.title}} / {{channeltext.title}}</title>{% endblock %}

{% block message_pblock %}    
<div id="id_chat_item_container" class="chat__item__container">
    {% for m in channeltext.message_set.all %}
        {% for su_s in serveruser_server %}
            {% if m.user.pk == su_s.user_id %}
                <div>
                    <button type='button' href="#" 
                        class='btn btn-secondary w-100 text-white text-start'
                        style='margin-bottom: 0.2rem;
                            line-height: 1rem;
                            --bs-btn-bg: #414141;
                            --bs-btn-border-color: #414141;
                            --bs-btn-hover-bg: #6A6A6A;
                            --bs-btn-hover-border-color: #6A6A6A;'>
                        <img src="{{ su_s.user.avatar.url }}" 
                        alt="" width="32" height="32" class="rounded-circle ms-2">
                        <a>{{su_s.username_local}}</a>
                        <li>{{m.text}}</li>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div> 

<div >
    <input id="id_message_send_input" type="text" maxlength="100" cols="40" rows="5"/>
    <button id="id_message_send_button" type="submit">Отправить</button>
    {{ channeltext.pk|json_script:"channel-id"}}
    {{ user_id|json_script:"user-id" }}

    <script>
        const channelId = JSON.parse(document.getElementById('channel-id').textContent);
        const userlId = "{{request.user.id}}";
        const chatSocket = new WebSocket("ws://" + window.location.host + "/channel/" + channelId);

        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };

        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };

        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
            "#id_message_send_input"
            ).value;
            chatSocket.send(JSON.stringify({message: messageInput, user_id: userlId}));
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            var avatar =  new Image(32, 32);
            var li = document.createElement("li");
            var div = document.createElement("div");
            var username_a = document.createElement("a");
            var button = document.createElement("button");
            
            button.setAttribute("href", "#");
            button.setAttribute("type", "button");
            button.setAttribute("class", "btn btn-secondary w-100 text-white text-start");
            button.setAttribute("style", "margin-bottom: 0.2rem;line-height: 1rem;--bs-btn-bg: #414141;--bs-btn-border-color:#414141;--bs-btn-hover-bg: #6A6A6A;--bs-btn-hover-border-color: #6A6A6A;");

            avatar.setAttribute("alt", ";");
            avatar.setAttribute("src", data.avatar);
            avatar.setAttribute("class", "rounded-circle ms-2");
            
            li.innerHTML = data.message;
            username_a.textContent  =  data.username;

            div.appendChild(button);
            button.appendChild(avatar);
            button.appendChild(username_a);
            button.appendChild(li);

            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#id_chat_item_container").appendChild(div);
        };
    </script>
</div>
{% endblock message_pblock %} 

