{% extends "web_msg/server/server_base.html"%}
{% load bootstrap5 %}
{% load static %}

{% block title %}<title>{{server.title}} / {{channeltext.title}}</title>{% endblock %}

{% block message_pblock %}    
<div id="id_chat_item_container" class="chat__item__container">
    {% for m in channeltext.message_set.all %}
    <div>
        <img height="40" width="40" src="/media/{{m.user.avatar}}" />

        {% for su_s in serveruser_server %}
            {% if m.user.pk == su_s.user_id %}
                <a>{{su_s.username_local}}</a>
            {% endif %}
        {% endfor %}
        
        <li>{{m.text}}</li>
    </div>
    {% endfor %}
</div> 

<div id="id_chat_item_container" class="chat__item__container">
    {% for m in channeltext.message_set.all %}
    <div>
        <img height="40" width="40" src="/media/{{m.user.avatar}}" />

        {% for su_s in serveruser_server %}
            {% if m.user.pk == su_s.user_id %}
                <a>{{su_s.username_local}}</a>
            {% endif %}
        {% endfor %}
        
        <li>{{m.text}}</li>
    </div>
    {% endfor %}
</div> 

<div >
    <input id="id_message_send_input" type="text" maxlength="100" cols="40" rows="5"/>
    <button id="id_message_send_button" type="submit">Отправить</button>
    {{ channeltext.pk|json_script:"channel-id"}}
    {{ user_id|json_script:"user-id" }}

    <script>
        const channelId = JSON.parse(document.getElementById('channel-id').textContent);
        const userlId = "{{request.user.id}}";
        const chatSocket = new WebSocket("ws://" + window.location.host + "/channel/" + channelId);

        chatSocket.onopen = function (e) {
            console.log("The connection was setup successfully !");
        };

        chatSocket.onclose = function (e) {
            console.log("Something unexpected happened !");
        };

        document.querySelector("#id_message_send_input").focus();
        document.querySelector("#id_message_send_input").onkeyup = function (e) {
            if (e.keyCode == 13) {
            document.querySelector("#id_message_send_button").click();
            }
        };

        document.querySelector("#id_message_send_button").onclick = function (e) {
            var messageInput = document.querySelector(
            "#id_message_send_input"
            ).value;
            chatSocket.send(JSON.stringify({ message: messageInput, user_id: userlId}));
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            var li = document.createElement("li");
            var avatar =  new Image(40, 40);;
            var username_a = document.createElement("a");
            var div = document.createElement("div");

            avatar.setAttribute("src", data.avatar);
            avatar.setAttribute("height", "40");
            avatar.setAttribute("width", "40");
            username_a.textContent  =  data.username;
            li.innerHTML = data.message;
            
            div.appendChild(avatar);
            div.appendChild(username_a);
            div.appendChild(li);

            document.querySelector("#id_message_send_input").value = "";
            document.querySelector("#id_chat_item_container").appendChild(div);
        };
    </script>
</div>
{% endblock message_pblock %} 

