


<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Password reset</title>{% endblock %}
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wm.ico' %}" >
  </head>

  <body class='d-flex items-align-center'>
    <main class='form-signin w-100 m-auto'>
      <form method='post' action="{% url 'password_reset' %}">
          <h1>Password reset</h1>
          {% bootstrap_field form.email placeholder='example@gmail.com' addon_after='Enter your email address to reset your password.' addon_after_class='text-muted small mb-5 pb-lg-2'%}
          
          <div class="d-grid col-6 mx-auto" align='center'>
          {% csrf_token %}
          {% bootstrap_button "Accept" button_type="submit" button_class="btn-primary" %}
          <a class='text-muted' href="{% url 'sign_in'%}">Sign in?</a>
        </div>
      </form>
      
    </main>
  </body>

</html>