<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Password reset</title>{% endblock %}
    <meta charset="utf-8" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/wm.ico' %}" >
  </head>

  {% if validlink %}
  <body>
    <main class="d-flex justify-content-center col-md-3 mx-auto">
      <form class='p-3 p-md-5 border bg-body-tertiary' style='background-color: #f9f9f9; border-radius: 1rem' method='post' action="">
          <h1 class='py-4'>Password reset</h1>

          {% bootstrap_field form.new_password1 placeholder='password' bound_css_class=''%}
          {% bootstrap_field form.new_password2 placeholder='repeat password' %}

          <div class="d-grid col-6 mx-auto" align='center'>
          {% csrf_token %}
          {% bootstrap_button "Accept" button_type="submit" button_class="btn-primary" %}
        </div>
      </form>
    </main>
  </body>

  {% else %}
  <body class='d-flex justify-content-center align-items-center flex-column mb-1'>
    <h1>Password reset failed</h1>
    <h5>
    The password reset link was invalid, possibly because it has already been
    used. <a class='text-muted' href="{% url 'password_reset'%}">Please request a new password reset.</a>
    </h5>
  </body>
  {% endif%}

</html>
